/.DS_Store
/1/.DS_Store
/.idea
/1/myapp/.DS_Store
/2/.DS_Store
/2/myapp/.DS_Store
/4/.idea/modules.xml
/4/.DS_Store
/4/.idea/workspace.xml
/4/.idea/4.iml
/5/.DS_Store
/5/.idea/5.iml
/5/.idea/modules.xml
/5/.idea/typescript-compiler.xml
/5/.idea/workspace.xml
/6/.idea/6.iml
/6/.idea/modules.xml
/6/.idea/workspace.xml
/6/.DS_Store
/7/.DS_Store
/7/.idea/7.iml
/7/.idea/modules.xml
/7/.idea/workspace.xml
/8/.DS_Store
/8/.idea/7.iml
/8/.idea/modules.xml
/8/.idea/workspace.xml
